# Usual suspects
.DSSTORE
.gitignore

# Dunno wat dis is
actual

# SVN
.svn/*
.svn

# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# Mercurial
.hg

# Eclipse/Aptana IDE
.buildpath
.project
.settings

# PSD/AI
assets/*
.assets

#Temporary files
*~
